* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  html, body {
    height: 100%;
    font-family: 'Red Hat Mono', monospace;
    background-color: #0f172a;
    color: #f1f5f9;
    scroll-behavior: smooth;
}

